<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for LargeVars" Description="Code analysis rules for LargeVars.vcxproj." ToolsVersion="17.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26429" Action="Info" />
    <Rule Id="C26431" Action="Info" />
    <Rule Id="C26445" Action="Info" />
    <Rule Id="C26446" Action="Info" />
    <Rule Id="C26448" Action="Info" />
    <Rule Id="C26449" Action="Info" />
    <Rule Id="C26458" Action="Info" />
    <Rule Id="C26459" Action="Info" />
    <Rule Id="C26472" Action="Info" />
    <Rule Id="C26821" Action="Info" />
  </Rules>
</RuleSet>